/api/tramitesmunicipales/target/
api/tramites/src/main/resources/application.properties
api/tramites/src/main/resources/application.properties
api/tramites/src/main/resources/application.properties
/app/tramitesApp/target/
/app/fxApp/target/
/app/mavenproject1/target/
